<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>Controller.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>Controller.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MydataUpdate</servlet-name>
        <servlet-class>Controller.MydataUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MydataUpdateResult</servlet-name>
        <servlet-class>Controller.MydataUpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Choice</servlet-name>
        <servlet-class>Controller.Choice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydata</servlet-name>
        <servlet-class>Controller.Mydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MydataDelete</servlet-name>
        <servlet-class>Controller.MydataDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MydataDeleteResult</servlet-name>
        <servlet-class>Controller.MydataDeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>Controller.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proposal</servlet-name>
        <servlet-class>Controller.Proposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>Controller.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentComplete</servlet-name>
        <servlet-class>Controller.CommentComplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MydataUpdate</servlet-name>
        <url-pattern>/MydataUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MydataUpdateResult</servlet-name>
        <url-pattern>/MydataUpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Choice</servlet-name>
        <url-pattern>/Choice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydata</servlet-name>
        <url-pattern>/Mydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MydataDelete</servlet-name>
        <url-pattern>/MydataDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MydataDeleteResult</servlet-name>
        <url-pattern>/MydataDeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proposal</servlet-name>
        <url-pattern>/Proposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentComplete</servlet-name>
        <url-pattern>/CommentComplete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
