
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'メイリオ',Meiryo;
}

#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}


header {
    background-image: url(http://foollovers.com/mat/stripe/ma02.gif);
    background-repeat: repeat;
    height:120px;
    width: 100%;
    position: absolute;
    top: 0;
}

button {
    font-size: 18px;
    font-family: Comic Sans MS;
    color: #808080;
    background-color: #ffffff;
    border: dotted 2px #808080; 
    border-radius: 10px;
    margin: 40px;
    margin-right:10px;
    padding: 6px 16px;
    width: 150px
}

div#contents{
    padding-top: 120px; /*ヘッダーの高さと同じ*/
    padding-bottom:120px; /*フッターの高さと同じ*/
}
        
h1 {
    color: #FF7F50;
    font-family: Comic Sans MS;
}

div#contents{
    padding-top: 120px; /*ヘッダーの高さと同じ*/
    padding-bottom:120px; /*フッターの高さと同じ*/
}

div#main {
    margin: 50px;
}

table.history {
    width: 70%;
    border-collapse: collapse;
    table-layout: fixed;
    
}

.history td {
    text-align: center;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #b9b9b9;
}

span.bold {
    font-weight: bold;
}

div.icon {
    float: left;
    
}

div.detail {
    text-align: right;
    padding-right: 10px
}

span.temp_max {
    color: #ff3333;
    font-weight: bold;
    font-size: 20px;
}

span.temp_min {
    color: #0099cc;
    font-weight: bold;
    font-size: 20px;
}
        
footer {
    background-image: url(http://foollovers.com/mat/stripe/ma02.gif);
    height:120px;
    width: 100%;
    background-repeat: repeat;
    position:absolute;
    bottom: 0;
}
